/* Pretendard-Regular 폰트 정의 */
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/* 전체 레이아웃 중앙 정렬 */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Pretendard-Regular';
}

/* 제목 스타일 */
.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px; /* 제목과 폼 간격 추가 */
}

/* 폼 스타일 */
.form {
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 입력 그룹 스타일 */
.inputGroup {
    width: 100%;
    margin-bottom: 20px;
}

/* 마지막 입력 그룹을 제외한 하단 여백 추가 */
.inputGroup:not(:last-child) {
    margin-bottom: 10px;
}

/* 레이블 스타일 */
.label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px; /* 레이블과 입력 필드 간격 추가 */
}

/* 서브 레이블 스타일 */
.subLabel {
    font-size: 14px;
    font-weight: 300;
    color: #4D4D4D;
}

/* 입력 필드 스타일 */
.input,
.locationInputField {
    width: 296px;
    height: 46px;
    background-color: rgba(217, 217, 217, 0.5);
    border: none;
    border-radius: 40px;
    padding: 0 20px;
    font-size: 14px;
    font-weight: 300;
    color: #4D4D4D;
    margin-top: 5px;
    font-family: 'Pretendard-Regular';
}

/* 입력 필드의 placeholder 스타일 */
.input::placeholder,
.locationInputField::placeholder {
    color: #4D4D4D;
    font-family: 'Pretendard-Regular';
}

/* 위치 입력 그룹 스타일 */
.locationInputGroup {
    position: relative;
    width: 100%;
}

/* 지도 컨테이너 스타일 */
.mapContainer {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

/* 지도 스타일 */
.map {
    width: 300px;
    height: 300px;
    margin-bottom:50px ;
}

/* 선택 버튼 스타일 */
.selectButton {
    position: absolute; /* 고정 위치로 변경 */
    bottom: 0px; /* 지도 바깥에 위치하도록 설정 */
    right: 10px;
    background-color: rgba(155, 238, 142, 0.5);
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}

/* 경로 추가 버튼 스타일 */
.addWaypointButton {
    font-size: 16px;
    font-weight: bold;
    background: transparent;
    border: none;
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    margin-top: 10px;
}

/* 경로 추가 버튼 컨테이너 스타일 */
.addWaypointButtonContainer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

/* 이미지 입력 필드 스타일 */
.imageInput {
    width: 316px;
    height: 100px;
    background-color: rgba(217, 217, 217, 0.5);
    border: none;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* 이미지 입력 필드에 '+' 표시 추가 */
.imageInput::before {
    content: '+';
    font-size: 28px;
    color: white;
}

/* 이미지 미리보기 컨테이너 스타일 */
.imagePreviewContainer {
    margin-top: 10px;
}

/* 이미지 미리보기 스타일 */
.imagePreview {
    width: 100%;
    width: 300px;
    height: 300px;
    border-radius: 40px;
    object-fit: cover;
}

/* 텍스트 영역 스타일 */
.textarea {
    width: 296px;
    height: 155px;
    background-color: rgba(217, 217, 217, 0.5);
    border: none;
    border-radius: 40px;
    padding: 20px;
    font-size: 16px;
    font-weight: 300;
    color: #4D4D4D;
    resize: none;
    font-family: 'Pretendard-Regular';
}

/* 텍스트 영역의 placeholder 스타일 */
.textarea::placeholder {
    color: #4D4D4D;
    font-family: 'Pretendard-Regular';
}

/* 제출 버튼 스타일 */
.submitButton {
    width: 241px;
    height: 60px;
    background-color: rgba(155, 238, 142, 0.6);
    border: none;
    border-radius: 60px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center; /* 중앙 정렬 */
}

/* 에러 메시지 스타일 */
.error {
    color: red;
    margin-top: 10px;
}
