/*
산책기록_입력하기_날짜입력 - CSS
*/
.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    padding-top: 9rem;
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: calc(3.125rem + 5vh);
    margin-top: 0.5rem;
    margin-bottom: 3.5rem; 
    text-align: center;
}

.datePickerWrapper {
    margin: 1.25rem 0;
    width: 90%; 
    max-width: 37.5rem; 
    display: flex;
    justify-content: center;
}

.datePicker {
    padding: 0.625rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    border: 0.0625rem solid #ddd;
    width: 90%;
}

.submitButton {
    padding: 0.625rem 1.25rem;
    font-size: 1rem;
    border: none;
    border-radius: 0.25rem;
    background-color: rgba(155, 238, 142, 0.4);
    color: gray;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    width: 70%; 
    max-width: 37.5rem;
    text-align: center;
}

.submitButton:disabled {
    background-color: rgba(155, 238, 142, 0.4);
    color: gray;
    cursor: not-allowed;
}

.submitButton.active {
    background-color: rgba(155, 238, 142, 0.4);
    font-weight: bold;
    color: black;
}

.submitButton:hover:not(:disabled) {
    background-color: rgba(155, 238, 142, 0.4);
    color: black;
    font-weight: bold;
}

