/*
나의 구미 (로그아웃 or 로그인은 했지만 모은 구미 없는 상태)
*/
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    position: relative;
    padding: 20px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
    margin-bottom: 20px;
}

.title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    flex: 1;
}

.backArrow {
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    left: 20px;
}

.gumiBox {
    width: 90%; 
    height: 500px; 
    background-color: #f0f0f0;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}

.gumiText {
    color: #aaa;
    font-size: 18px;
    text-align: center;
}

.collectButton {
    background-color: #d4f1c4;
    color: #000;
    border: none;
    border-radius: 25px;
    padding: 15px 40px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.collectButton:active {
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
}
