.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    height: 100vh;
    position: relative;
}

.backButton {
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    left: 20px;
    top: 20px;
    background: none;
    border: none;
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin-top: 60px;
    margin-bottom: 30px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
}

.inputGroup {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 15px;
}

.label {
    margin-bottom: 5px;
    font-size: 14px;
    color: #666;
}

.input {
    height: 40px; /* 줄인 높이 */
    border: 1px solid #ccc;
    border-radius: 25px;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    background-color: #dcdcdc; /* 더 진한 회색 */
}

.input[readonly] {
    cursor: pointer;
}

.submitButton {
    background-color: #ffd700;
    color: #000;
    border: none;
    border-radius: 25px;
    padding: 15px 40px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
}

.submitButton:active {
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
}

.postcodeWrapper {
    position: relative;
    z-index: 1000;
}
